@import 'tailwindcss';

@source '../../';

@theme {
  --font-sans: Montserrat, sans-serif;
  --font-akira-expanded: 'Akira Expanded', sans-serif;

  --radius-base: 15px;

  --color-root-bg: #020525;
  --color-brand: #03DDFF;
  --color-shade-light: #1C2554;
  --color-accent: #3947B8;
}

@font-face {
  font-family: 'Akira Expanded';
  src: url('/fonts/akira-expanded.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@layer base {
  body {
    background-color: #020525;
    font-family: 'Montserrat', sans-serif;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
