@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@source '../../';

@theme {
  --font-sans: Montserrat, sans-serif;
  --font-akira: Akira, sans-serif;
  --font-akira-expanded: 'Akira Expanded', sans-serif;

  --radius-base: 15px;

  --color-root-bg: #020525;
  --color-brand: #03DDFF;
  --color-shade-light: #1C2554;
  --color-accent: #3947B8;
  --color-cta: #B73BF1;
  --color-cta-light: #BB70DE;
  --color-cta-dark: #B739F2;
}

@font-face {
  font-family: 'Akira';
  src: url('/fonts/akira.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Akira Expanded';
  src: url('/fonts/akira-expanded.otf') format('opentype');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@layer base {
  body {
    background-color: #020525;
    font-family: 'Montserrat', sans-serif;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
